body{
    width: 80%;
    margin: auto;
    
}
h1{
    text-align: center;
}
.date{
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px; 
    background-color: rgb(17, 14, 14);
    border: solid 2px cyan;
    color: rgb(253, 250, 250);
    border-radius: 100%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}
.row{
    height: 52px;
    
    box-sizing: border-box;
}
.calender{
    margin-top: 50px;
}
#time{
    float: right;
}

#date1{
    float: right;
}
#month1{
    float: left;
}
#year1{
    float: left;
}
.matter{
    color: blue;
}
.delete{
    background-color: red;
}